<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}OutFit - Fit the weather{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script
            src="{{ url_for('static', filename='js/app.js') }}"
            type="module"
        ></script>
        {% endblock %}
    </head>
<body>
    <!-- 
        404 SECTION
     -->
    <section class="error-content" data-error-content>

        <h2 class="heading">404</h2>
        <p class="body-1">Page not found :(</p>

        <a href="/" class="btn-primary">
            <span class="span">Back to Home</span>
        </a>

    </section>
    
</body>
</html>